{
  "branches": [
    "master",
    {
      "name": "development",
      "prerelease": true,
      "channel": "prerelease"
    }
  ],
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "angular",
        "releaseRules": [
          {
            "type": "feat",
            "release": "minor"
          },
          {
            "type": "fix",
            "release": "patch"
          },
          {
            "type": "perf",
            "release": "patch"
          },
          {
            "type": "style",
            "release": "patch"
          },
          {
            "type": "test",
            "release": "patch"
          },
          {
            "type": "chore",
            "release": "patch"
          },
          {
            "type": "ci",
            "release": "patch"
          },
          {
            "type": "build",
            "release": "patch"
          },
          {
            "type": "revert",
            "release": "patch"
          },
          {
            "type": "docs",
            "release": false
          },
          {
            "type": "refactor",
            "release": "patch"
          },
          {
            "scope": "no-release",
            "release": false
          }
        ]
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "preset": "angular",
        "parserOpts": {
          "noteKeywords": [
            "BREAKING CHANGE",
            "BREAKING CHANGES",
            "BREAKING"
          ]
        },
        "presetConfig": {
          "types": [
            {"type": "feat", "section": "\uD83D\uDEE0 Features"},
            {"type": "feature", "section": "\uD83D\uDEE0 Features"},
            {"type": "fix", "section": "🐛 Bug Fixes"},
            {"type": "perf", "section": "🔥 Performance Improvements"},
            {"type": "revert", "section": "⏩ Reverts"},
            {"type": "docs", "section": "📝 Dokumentation"},
            {"type": "style", "section": "🎨 Styles"},
            {"type": "refactor", "section": "‍💻 Code Refactoring"},
            {"type": "test", "section": "✅ Tests"},
            {"type": "build", "section": "🤖 Build System"},
            {"type": "ci", "section": "🔁 Continuous Integration"},
            {"type": "chore", "section": "🧹 Chores"}
          ]
        }
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": "pack/*.tgz"
      }
    ]
  ]
}